### Go ###
# Binaries for programs and plugins
monarch
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

### Go Patch ###
/vendor/
/Godeps/

# Ignore migrations folder and files (sometimes generated while testing)
migrations/

# Ignore database configuration file(s)
database.yaml

# Ignore tmp directory (sometime generated while testing)
tmp/
